.notesMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;

  .takediv {
    margin-top: 0px;
  }

  .displaydiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-gap: 1rem;
  }
}


// @media screen and (max-width:1050px) {
//   .displaydiv{
//       grid-template-columns: repeat(4,1fr) !important;
//       width: 100%;
//   }

// }

// @media screen and (max-width:900px) {
//   .displaydiv{
//       grid-template-columns: repeat(4,1fr) !important;
//       width: 100%;
//   }

// }

// @media screen and (max-width:750px) {
//   .displaydiv{
//       grid-template-columns: repeat(3,1fr) !important;
//       width: 100%;
//   }

// }

// @media screen and (max-width:650px) {
//   .displaydiv{
//       grid-template-columns: repeat(3,1fr) !important;
//       width: 100%;
//   }

// }

// @media screen and (max-width:500px) {
//   .displaydiv{
//       grid-template-columns: repeat(2,1fr) !important;
//       width: 100%;
//   }

// }

// @media screen and (max-width:350px) {
//   .displaydiv{
//       grid-template-columns: repeat(1,1fr) !important;
//       width: 100%;
//   }

// }
