
.mainHeader {
  display: flex;
  margin: 2vh 0vw 0vh 0vw;
}

.search {
  font-size: 16px;
  height: 1cm;
  width: 25cm;
  margin: 0vh 0vw 0vh 5vw;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  background-color: lightgrey;
}

.headBar {
  justify-content: space-evenly;
  padding-bottom: 0rem;
  .headerIcon {
    padding-bottom: 0rem;
    display: flex;
    font-size: 0rem;
    color: #777777;
    justify-content: space-between;
  }
}

.fundoologo{
    margin-top: -0.5rem;
//   height:4px;
//   width: 4px;
}