.mainHeader {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}

.searchBar {
  display: flex;
  font-size: 16px;
  height: 3rem;
  width: 50vw;
  margin: 0vh 0vw 0vh 5vw;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  background-color: #f1f3f4;
  .search {
    width: 100%;
    font-size: 18px;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background-color: #f1f3f4;
  }
  .mag {
    padding: 0rem 1rem 0rem 1rem;
  }
}

.icon-list {
  .headerIcon {
    padding-left: 5rem;
    width: 25vw;
    display: flex;
    font-size: 0rem;
    color: #777777;
    justify-content: space-between;
  }
}

.fundoologo {
  margin-top: 0.4rem;
}

.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
  color: #000000de !important ;
  background-color: white !important  ;
  box-shadow: none !important;
  border: 0.01rem solid #dadce0 !important ;
  border-width: 1px 1px 1px 1px !important;
}
.css-1t29gy6-MuiToolbar-root {
  color: #000000de !important ;
  background-color: white !important  ;
  box-shadow: none !important;
  border: 0.01rem solid #dadce0 !important ;
  border-width: 1px 1px 1px 1px !important;
}

.pop {
   
  .account-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 21vw;
    height: 50vh;

    padding:0rem 0rem 0rem 0rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
   

    background-color: #fff;
    border-color: #e0e0e0;
    // border: 1px solid #dadce0;
    border-radius: .6rem;

    .picIcon{
      font-size: 150px;
      font-weight: 0px !important;
      // width: 20px;
      
    }
    .userData {
      font-size: 1.2rem;
    
    }

    .signButton{
      border-color: #e0e0e0;
      border: 1px solid #dadce0;
      border-radius: 0.5rem;
      width: 10rem;
      padding:.8rem
    }
  }
}

// .css-3bmhjh-MuiPaper-root-MuiPopover-paper {
//   width: 25vw !important;
//   height: 60vh !important;
//   border-color: #e0e0e0 !important;
//   border: 1px solid #dadce0 !important;
//   border-radius: 1rem !important;
// }


@media screen and (max-width: 750px) {
  .searchBar {
    display: flex;
    font-size: 16px;
    height: 3rem;
    width: 40vw;
    margin: 0vh 0vw 0vh 5vw;

    .search {
      width: 100%;
      font-size: 18px;
  
    }
    .mag {
      padding: 0rem 1rem 0rem 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .searchBar {
    display: flex;
    font-size: 16px;
    height: 3rem;
    width: 5vw;
    margin: 0vh 0vw 0vh 5vw;

    .search {
      width: 100%;
      font-size: 18px;
  
    }
    .mag {
      padding: 0rem 1rem 0rem 1rem;
    }
  }
}