.main-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 3rem 0rem 0rem 6rem;
  column-gap: 1rem;
  color: #80868b;
}

// hover effect
// .subContainer:hover .icons{
// display: flex;
// }

// .icons{
//   display: none;
// }

.subContainer {
  width: 17.5vw;
  min-height: 18vh;
  border-color: #e0e0e0;
  border: 1px solid #dadce0;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0.5rem;
  margin-top: 1.5rem;

  .title {
    color: #202124 !important;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 18px;
    width: 4rem;
    padding-left: 1rem;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
  }
  .notes {
    color: #202124 !important;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    width: 100%;
    padding-left: 1rem;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
  }
}

.dialog-display {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  min-height: 30vh;
  padding: 1rem 1.6rem 1.2rem 1.6rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  border-radius: 8px;
  box-shadow: 0 10px 10px #00000033;
  background-color: #fff;
  border-color: #e0e0e0;

  .text-area {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
  }

  .bottom {
    display: flex;
    .icons-set {
      width: 80%;
      font-size: 15px;
    }
    .closebutton {
      background-color: white;
      border: none !important;
      outline: none !important;
      color: #636161;
      font-size: 1rem;
    }
  }
}

.css-1hju3x6-MuiPaper-root-MuiDialog-paper {
  border-radius: 10px !important;
}

//dialog box
.css-1hju3x6-MuiPaper-root-MuiDialog-paper {
  width: 50vw;
  min-height: 30vh;
}

//below 769px
@media screen and (max-width: 768px) {
  .main-display {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: none;

    margin: 1.5rem 5rem 0rem 11rem;
  }

  .subContainer {
    width: 95%;
    min-height: 18rem;
    // margin-top: 4rem;
    padding-left: 2rem;

    .title {
      font-size: 12px;
    }
    .notes {
      font-size: 12px;
    }
  }
}

//below 600px
@media screen and (max-width: 600px) {
  .main-display {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 70vw;
    margin: 0rem 0rem 0rem 8rem;
  }

  .subContainer {
    width: 76vw;
    min-height: 15rem;
    padding-left: 2rem;
  }
  .title {
    font-size: 12px;
  }
  .notes {
    font-size: 12px;
  }
}
