.mainContainer {
  .subContainer {
    background-color: #fff;
    border-color: #e0e0e0;
    border: 1px solid #dadce0;
    border-radius: 1rem;
    width: 18vw;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.5rem;

    .title {
      width: 4rem;
      padding-left: 10px;
    }
    .notes {
      width: 100%;
      padding-left: 0.8rem;
    }
    margin-top: 2.5rem;
  }
}
