html {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-body {
  border-radius: 0.8rem;
  border: 0.1rem solid #dadce0;
  height: 60rem;
  width: 70rem;
  display: flex;

  .fundoo-s {
    display: flex;
    direction: ltr;
    font-size: 2.5rem;
    line-height: 1.4286;
    color: #202124;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
  }

  .create {
    padding: 0px 0px 1.5rem 0px;
    color: #202124;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.3333;
  }

  .left-body {
    width: 90rem;
    height: 60rem;
    display: flex;
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: start;

    .form-s {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;

      .name-data,
      .pass-data {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 5rem;
      }

      .name-data {
        padding-bottom: 1.5rem;
      }
      .email-data {
        width: 100%;
      }
      .name,
      .password {
        width: 48%;
        padding-bottom: 0rem;
      }

      .MuiFormHelperText-root {
        font-size: 1rem;
      }

      .MuiFormLabel-root {
        font-size: 1.5rem;
      }
      .use_email {
        font-weight: 600;
        padding: 0rem 0rem 1.5rem 0rem;
        color: #1a73e8;
        font-size: 1.5rem;
      }
    }
  }

  .next-s {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;

    .sign-instead {
      // font-weight: bold;
      font-weight: 600;
      color: #1a73e8;
      font-size: 1.5rem;
    }

    .css-sghohy-MuiButtonBase-root-MuiButton-root {
      min-width: 6.8rem;
      min-height: 2.8rem;
      font-size: 1rem;
    }

    .pass-suggest {
      color: rgba(0, 0, 0, 0.54);
      margin: 0;
      font-size: 0.75rem;
      margin-top: 3px;
      text-align: left;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-weight: 400;
      line-height: 1.66;
      letter-spacing: 0.03333em;
    }
  }

  .right-body-s {
    width: 40%;
    height: 100%;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//when size goes below this font size changes to 55%
@media (max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 30%;
  }
  .right-body-s {
    display: none !important;
  }

  .name-data,
  .pass-data {
    display: flex;
    flex-direction: column;
  }
}
